body{
    margin: 0px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size:20px;
    line-height: 30px;
    background-color: #F9D5FF; 
}

h1, h2{
    font-family: 'Caveat Brush', cursive;
}

header{
    background-color: rgb(122, 71, 111);
    text-align: center;

}

header h2{
    height: 80px;
}

header h1{
    color: rgb(249, 213, 255);
    font-size: 80px;
    margin: 30px 30px;

}

header img{
    /* aligns image to centre */
    display: block;
    margin: 0 auto;
    /* end of image align */
    border-radius: 500px;
    width: 320px;
    border: 30px solid rgb(79, 131, 165);
    padding: auto;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: rgb(194, 141, 182);
    margin: 1px;
}

main h2{
    color: #393C54;
}

a{
    color: #51165f;  
}

a:hover{
    color: #a821ca;
}

footer{
    background-color: rgb(122, 71, 111);
    text-align: center;
    color: white;

}

footer a{
    color: white;
}

footer a:hover{
    color: white;
    background: #C28DB6;
}

footer p{
    margin: 0px;
}

p.caption{
    color: rgb(97, 97, 97);
    margin-top: 0;
    font-family:'Caveat Brush', cursive;
}